@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
body {
  background-color: #CFAC89; }

.Grid {
  display: grid;
  grid-template-areas: "nav" "main" "footer";
  grid-template-rows: 5% auto 5%;
  grid-template-columns: auto; }

nav {
  grid-area: nav;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  opacity: 0.9;
  z-index: 100;
  background: #87F5FB; }
  nav:hover {
    background-color: #437C90;
    box-shadow: 5px 5px 10px #000;
    transition: 1s; }
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    margin: auto;
    padding: 1%;
    color: #000;
    width: 100%;
    transition-duration: 1s; }
    nav ul li {
      padding-right: 2%; }
      nav ul li a {
        font-family: Courgette;
        font-size: 100%;
        color: #000; }

.navbar-brand {
  margin: auto auto auto 1%;
  text-align: left; }

main {
  grid-area: main; }
  main img {
    width: 100%; }
  main h2 {
    font-family: Courgette;
    text-align: center;
    border-top: 2px darkcyan double;
    border-bottom: 2px darkcyan double; }

.container_productos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%; }

.items {
  border: 4px #000 solid;
  height: 25%;
  width: 25%;
  background-color: #000; }
  .items h3 {
    font-family: Courgette;
    text-align: center;
    border-top: 2px darkcyan double;
    border-bottom: 2px darkcyan double;
    color: whitesmoke;
    background-color: #000;
    border: none; }

footer {
  grid-area: footer;
  background-color: deeppink; }
