main{
    grid-area: main;

    img{
        width: 100%;
    }

    h2{
        @include Titulos
    }
}

.container_productos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 5% ;
    margin-right: 5% ;
}

.items{
    border: 4px #000 solid;
    height: 25%;
    width: 25%;
    background-color: #000;
    
        &:hover{
            box-shadow: 10px 10px 15px whitesmoke;
            transition: 1s;
        }

    h3{
        @include Titulos;
        color: whitesmoke;
        background-color: #000;
        border: none;
    }
}
